body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-data{
    width: 95%;

    margin: auto;
    display:   grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 50px;
}
select{

    display: block;
    margin-left: 16px;
    padding: 10px;
    margin-top: 80px;
    
    
}
